.hidden {
	display : none !important;
}

.player-name-container {
	text-align : center;

	.player-name-form {
		margin-bottom : 15px;
	}
}

.main-container {

	.waiting-users-container {
		.player-name {
			padding-top : 10px;
		}
	}
}
